        </div>
        <p class='footer-logo'>The only way to fly!</p>
        <script src="../seat-select/seat-select.js"></script>
        <script src="../view-reservation/view-reservation.js"></script>

    </body>
</html>